<br>
<table id="templates-table" class="table table-striped">
    <tr>
        <th class="col-sm-3">Name</th>
        <th class="col-sm-3">Division</th>
        <th class="col-sm-3">Uploaded By</th>
        <th class="col-sm-3">Uploaded On</th>
    </tr>
    {% for document in templates.items %}
    {% if document.deleted == False %}
    <tr>
        <td><a href="{{ url_for('static', filename='documents/' + document.file_name ) }}">{{
            document.file_title }}</a>
            <p class="file-name">({{ document.file_name }})</p></td>
        <td>{{ document.division }}</td>
        <td>{{ document.uploader }}</td>
        <td>{{ document.local_timestamp.strftime("%m/%d/%Y %I:%M %p") }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>