[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
backcall = "*"
blinker = "*"
click = "*"
decorator = "*"
defusedxml = "*"
dominate = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
gunicorn = "*"
ipdb = "*"
ipython = "*"
ipython-genutils = "*"
isodate = "*"
itsdangerous = "*"
jedi = "*"
Jinja2 = "*"
ldap3 = "*"
lxml = "*"
Mako = "*"
MarkupSafe = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pkgconfig = "*"
prompt-toolkit = "*"
#psycopg2 = "*"
ptyprocess = "*"
pyasn1 = "*"
Pygments = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
pytz = "*"
six = "*"
SQLAlchemy = "*"
traitlets = "*"
virtualenv = "*"
visitor = "*"
wcwidth = "*"
Werkzeug = "*"
WTForms = "*"
#xmlsec = "*"
email_validator = "*"
psycopg2 = "*"
xmlsec = "*"

[requires]
python_version = "3.10.2"
