[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "==0.12.2"
MarkupSafe = "==1.0"
Werkzeug = "==0.12.2"
"Jinja2" = "==2.9.6"
itsdangerous = "==0.24"
click = ">=5.0"
Flask-SQLAlchemy = "==2.3.2"
"psycopg2" = "==2.7.3.1"
SQLAlchemy = "==1.1.14"
Flask-Migrate = "==2.1.1"
Flask-WTF = "==0.14.2"
WTForms = "==2.1"
gunicorn = ">=19.1.1"
Flask-Webpack = "==0.1.0"
Flask-Login = "==0.4.0"
Flask-Bcrypt = "==0.7.1"
Flask-Caching = ">=1.0.0"
Flask-DebugToolbar = "==0.10.1"


[dev-packages]
