<div class="carousel">
    <div id="thisCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#thisCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#thisCarousel" data-slide-to="1"></li>
            <li data-target="#thisCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner carousel-box-shadow">
            <div class="item active">
                <a href="#"><img src="{{ url_for('static', filename='img/brooklyn_bridge.jpg') }}" alt="First Slide"></a>
                <div class="carousel-caption">
                    <h5 class="caption-title">Excellence in Service</h5>
                    <a href="#" class="caption-text">Read more</a>
                </div>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='img/brooklyn_bridge.jpg') }}" alt="Second Slide">
                <div class="carousel-caption">
                    <h5 class="caption-title">Carousel Title Text 2</h5>
                    <a href="#" class="caption-text">Read more</a>
                </div>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='img/brooklyn_bridge.jpg') }}" alt="Third Slide">
                <div class="carousel-caption">
                    <h5 class="caption-title">Carousel Title Text 3</h5>
                    <a href="#" class="caption-text">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>