{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Administration & Human Resources{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
{% endblock %}

{% block page_content %}
<br>
<article class="container-fluid" id="primary-content" style="font-size: 1.5rem;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <br>
            <h2 class="division-title">Administration and Human Resources</h2>

            <br>

            <p class="division-body-text">
                The Administration Division of the Department of Records is responsible for:
            </p>

            <ul class="division-list">
                <li>Personnel</li>
                <li>Payroll</li>
                <li>Timekeeping</li>
                <li>Budget & Revenue</li>
                <li>Procurement</li>
                <li>Vital Records</li>
            </ul>
            <br><br><br>
        </div>
    </div>
</article>
<!-- #primary-content -->
{% endblock %}