{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Executive{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
{% endblock %}

{% block page_content %}
<br>
<article class="container-fluid" id="primary-content" style="font-size: 1.5rem;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <br>
            <h2>Executive</h2>

            <br>

            <p>
                The Executive Office consists of the Communications, External Affairs, Finance/Procurement, Human
                Resources, Information Technology, Legal and Operations Management units and the Commissioner’s Office.
                Collectively, the staff ensures that all of the agency’s operations run smoothly and that we advance
                DORIS’s mission of preserving and providing access to the historical and contemporary records of New
                York City government, ensuring that City records are properly maintained following professional archival
                and record management practices and to making materials available to diverse communities both online and
                in person. Major functions include planning for the agency’s future growth and needs, overseeing
                compliance with City policies and directives, directing efforts to increase awareness of the agency,
                writing grants, ensuring smooth daily operations and conditions, developing and implementing policy and
                administering resources for the Municipal Archives, Library and Records Management divisions.
            </p>
            <br><br><br>
        </div>
    </div>
</article>
<!-- #primary-content -->
{% endblock %}