{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grant Unit{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
{% endblock %}

{% block page_content %}
<!-- Add your Custom image class below (after 'banner-with-background') -->
<div class="bg-primary banner-with-background oculus d-flex flex-column">

    <div class="container-fluid my-auto text-center">
        <div class="narrow">
            <h1 class="display-4 text-white">Grant Unit</h1>
        </div>
    </div>
    <!-- .container -->
</div>
<!-- .banner-with-background -->

<div class="breadcrumb-section">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-ol">
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.divisions') }}">Divisions</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Grant Unit</li>
        </ol>
    </nav>
</div>

<br>

<article class="container-fluid" id="primary-content" style="font-size: 1.5rem;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <br>
            <h2>Grant Unit</h2>

            <br>

            <p>
                Each year, the New York State Archives’ Local Government Records Management Improvement Fund (LGRMIF)
                awards up to $1 million dollars to New York City mayoral agencies. The grants are intended to help
                establish or improve records management programs. The Grant Administration Unit (GAU) of the Department
                of Records and Information Services administers the LGRMIF program for city mayoral agencies.
                <br><br>
                The Grant Administration Unit provides guidance to the agencies in the development of grant projects
                from the first conceptual stages, to the preparation of final application drafts. The unit submits
                agencies’ proposals to the State and monitors projects progress for those that receive funding. At the
                conclusion of grant projects, the Grant Administration Unit prepares comprehensive reports for the State
                Archives and the New York City Comptroller’s office.
            </p>
            <br><br><br>
        </div>
    </div>
</article>
{% endblock %}