{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Information Technology{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
{% endblock %}

{% block page_content %}
    <!-- Add your Custom image class below (after 'banner-with-background') -->
    <div class="bg-primary banner-with-background oculus d-flex flex-column">

        <div class="container-fluid my-auto text-center">
            <div class="narrow">
                <h1 class="display-4 text-white">Information Technology</h1>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .banner-with-background -->

    <section class="py-2">
        <br>
        <div class="container">
            <div class="row">
                <!-- Breadcrumb Section -->
                <div class="col-sm-6">
                    <nav class="breadcrumb-nav" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-ol">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('main.index') }}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('main.divisions') }}">Divisions</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Information Technology</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <article class="container-fluid" id="primary-content" style="font-size: 16px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <br>
                <h2>Information Technology</h2>
                <br>
                <p class="divisions-paragraph">
                    Technology is an important pillar of the future evolution of DORIS and plays a pivotal role in
                    modernizing the agency. Under this modernization umbrella, the IT division at DORIS is responsible for
                    innovation, automation, achieving operational efficiencies, standardization, using industry best
                    practices and maximizing the use of technology across the agency. The division is divided into three
                    core functions – Infrastructure and Desktop Support, Applications Development and Project Management.
                    Additionally, its peripheral functions are to liaise with DoITT and other City agencies along with
                    Customer Service and Support.
                </p>
                <br>
            </div>
        </div>
    </article>
{% endblock %}