{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Information Technology{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
{% endblock %}

{% block page_content %}
<br>
<article class="container-fluid" id="primary-content" style="font-size: 1.5rem;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <br>
            <h2>Information Technology</h2>

            <br>

            <p>
                Technology is an important pillar of the future evolution of DORIS and plays a pivotal role in
                modernizing the agency. Under this modernization umbrella, the IT division at DORIS is responsible for
                innovation, automation, achieving operational efficiencies, standardization, using industry best
                practices and maximizing the use of technology across the agency. The division is divided into three
                core functions – Infrastructure and Desktop Support, Applications Development and Project Management.
                Additionally, its peripheral functions are to liaise with DoITT and other City agencies along with
                Customer Service and Support.
            </p>
            <br><br><br>
        </div>
    </div>
</article>
{% endblock %}