{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Municipal Records Management{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.divisions') }}">Divisions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Municipal Records Management</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Municipal Records Management</h1>
    </div>
    <div class="col-sm-12 well content-area individual-division-page">
        <p>The Municipal Records Management Division (MRMD) at DORIS serves 2
            primary functions:</p>
        <ul>
            <li>We develop and set citywide policies for records and information management and monitor compliance.</li>
            <li>We operate storage facilities that hold 1 million cubic feet of active records for New York City agencies.</li>
        </ul>
        <p>In order to accomplish these functions, the MRMD team performs the following activities:</p>
        <ul>
            <li>We develop guidance and document best practices with regards to information and records governance.</li>
            <li>We assist agencies in creating and maintaining retention schedules.</li>
            <li>We establish protocols for offices and agencies to follow regarding electronic records management.</li>
            <li>We work directly with agencies to develop and implement project plans to improve records management practices.</li>
            <li>We coordinate the transfer, storage, retrieval, and disposal of hard copy records between DORIS and municipal agencies.</li>
        </ul>
    </div>
</div>
{% endblock %}