{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Operations{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.divisions') }}">Divisions</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Operations</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Operations</h1>
    </div>
    <div class="col-sm-12 well content-area individual-division-page">
        <p class="division-description-text-full">The Operations Unit/Operations Manager is in charge of making sure
            that DORIS staff have safe and comfortable working environments. These means being the liaison to DCAS and
            Industry City facilities personnel, reporting issues, and responding to building emergencies. The Operations
            Manager is part of planning new infrastructure improvements and ongoing maintenance. Custodial staff perform
            daily cleaning and routine maintenance.
            <br><br>
            Staff:<br><br>
            {% for user in users %}
                {{ user.name }}, {{ user.title}}<br>
            {% endfor %}
            <br>
            Rooms: {% for room in rooms %}{{ room }}{{ ", " if not loop.last }}{% endfor %}
        </p>
    </div>
</div>
{% endblock %}