body {
    margin: auto;
    width: 100%;
    background: #F0F0F0;
}

.breadcrumb-header {
    color: #5C95A3;
    font-family: "Helvetica";
    font-size: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;
}

.breadcrumb-nav {
    color: #4A4A4A;
    font-family: "Helvetica";
    font-size: 14px;
}

.breadcrumb.breadcrumb-ol {
    background-color: #F0F0F0;
}

.breadcrumb-ol {
    padding-left: 0;
    margin-top: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "> ";
}

.content-area {
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;
}

.top-padding {
    padding-top: 2rem;
}

.no-left-padding {
    padding-left: 0;
}

/* Custom CSS that changes the font size of the Header*/
#nyc-top-header {
    font-size: 16px;
  }
  
  #nyc-top-header p,
  #nyc-top-header a,
  #nyc-top-header ul,
  #nyc-top-header li {
    font-size: 16px;
  }
  
  /* Custom CSS that changes the font size of the Navbar Items*/
  #nav-primary {
    font-size: 16px;
  }
  
  #nav-primary p,
  #nav-primary ul,
  #nav-primary li,
  #nav-primary a {
    font-size: 16px;
  }
  
  /*Custom CSS that changes the font size of Footer Items*/
  #nyc-footer {
    font-size: 16px;
  }
  
  #nyc-footer p,
  #nyc-footer a,
  #nyc-footer ul,
  #nyc-footer li {
    font-size: 16px;
  }

/* Custom CSS for Footer social media icons*/
.footer-icons {
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer-icons.social-media {
    display: flex;
    gap: 10px;
    align-items: center;
}

