.tab {
    overflow: hidden;
 }
 .tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0s;
    border: 2px solid darkgray;
    width: 200px;
    height: 50px;
}
 .tab button:hover {
    background-color: #ddd;
}
 .tab button.active {
    background-color: white;
    border-top: 5px solid #F9B52B;
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
    border-bottom: 0;
}
 .tabcontent {
    padding: 0;
    border: 2px solid darkgray;
    margin-top: -2px;
    background-color: white;
    height: 65rem;
}
 .table-striped {
    vertical-align: middle;
    color: dimgray;
}
 .table > tbody > tr > th {
    vertical-align: middle;
    height: 75px;
    background-color: lightgray;
    color: black;
}
 .table > tbody > tr > td {
    vertical-align: middle;
    height: 75px;
}
 .searchform {
    float: right;
}
 .searchbar {
    width: 290px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    margin-right: 30px;
}
 .searchdropdown {
    width: 290px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
 .entry {
    height: 90px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    margin: 15px;
}
 .date {
    font-size: 16pt;
    padding: 0;
    margin: 0;
}
 .datetext {
    color: #2A394F;
    line-height: 40px;
    vertical-align: middle;
}
 .datearrow {
    line-height: 80px;
    color: dimgray;
 }
 * {
    box-sizing: border-box;
}
 ul {
    list-style-type: none;
}
 body {
    font-family: Verdana, sans-serif;
}
 .month {
    padding: 5px 25px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid dimgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 .month ul {
    margin: 0;
    padding: 0;
}
 .month ul li {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
 .month .prev {
    float: right;
    margin-right: 3px;
    margin-left: 3px;
}
 .month .next {
    float: right;
    margin-right: 3px;
    margin-left: 3px;
}
 .month .monthname {
    text-align: left;
}
 .weekdays {
    margin: 0;
    padding: 5px 0;
    background-color: #FFFFFF;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
}
 .weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}
 .days {
    padding: 10px 0;
    background: #FFFFFF;
    margin: 0;
    border: 1px solid dimgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}
 .days li .active {
    padding: 5px;
    background: deepskyblue;
    color: white !important
}
 .days li .event{
    color: deepskyblue;
}
.btn-secondary{
    border: 1px solid dimgray;
}
.btn-group{
    float: right;
}