 .divisioncard{
    width: 250px;
    height: 175px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 17px;
    text-align: center;
    font-size: 18pt;
    padding-top: 70px;
}
.division-description{
    width: 250px;
    height: 135px;
    margin-left: 17px;
    margin-right: 17px;
    overflow: hidden;
    font-size: 10pt;
}