.tab {
    overflow: hidden;
    background-color: white;
    font-size: 16px;
    color: dimgray;
}

.tab button {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0s;
    border: 2px solid darkgray;
    width: 225px;
    height: 60px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: white;
    border-top: 5px solid #F9B52B;
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
    border-bottom: 0;
}

.tabcontent {
    display: none;
    padding: 0;
    border: 2px solid darkgray;
    margin-top: -2px;
}

.table-striped {
    vertical-align: middle;
    color: dimgray;
    margin-bottom: 0;
}

.table > tbody > tr > th {
    vertical-align: middle;
    height: 75px;
    background-color: lightgray;
    color: black;
}

.table > tbody > tr > td {
    vertical-align: middle;
    height: 75px;
}

.searchform {
    float: right;
}

.searchbar {
    width: 290px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    margin-right: 15px;
    padding: 6px 12px;
}

.sort-dropdown {
    width: 200px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-left: 15px;
}

/* MY STYLES */

.document-tabs {
    padding-top: 50px;
}

.file-name {
    font-size: 14px;
    word-break: break-word;
}

.documents-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.documents-search-form {
    font-size: 16px;
    color: dimgray;
}

.documents-search-button {
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-right: 50px;
}

.documents-pagination {
    text-align: center;
    border-top: 1px solid dimgray;
}

#display-search-term {
    font-size: 16px;
    color: dimgray;
    padding-top: 50px;
}

#save-search-term {
    display: inline-block;
}