.linklist {
    font-size: 24pt;
    color: dimgray;
}
.link{
    color: dimgray;
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
}
.tagline{
    color: dimgray;
}
.somewords{
    color: dimgray;
    font-size: 18px;
}