.index-top-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.well.quick-links-well {
    background: #ffffff;
    width: 275px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.quick-links {
    margin-top: 2rem;
}

glyphicon {
    font-size: 20px;
    margin-right: 5px;
}

.quick-links-header {
    height: 48px;
    width: 275px;
    border-radius: 3px 3px 0 0;
    background-color: #53818C;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.quick-links-title {
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 46px;
    text-align: left;
    margin-left: 17px;
}

.quick-links-anchors {
    padding-left: 10px;
}

.quick-links-anchors > li {
    list-style: none;
    margin: 10px 0;
}

.quick-links-anchors > li > a {
    color: #4A4A4A;
    font-family: "Helvetica";
    font-size: 18px;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.quick-links-anchors > li > a:hover, a:focus {
    text-decoration: none;
}

.date-styles {
    color: #9B9B9B;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.event-styles > a {
    color: #4A4A4A;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
}

.event-styles > a:hover {
    text-decoration: none;
}

.calendar-view-style {
    color: #ECAC2A;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    float: right;
    margin-right: 1.6rem;
}

.calendar-view-style:hover, .calender-view-style:focus {
    text-decoration: none;
    color: #ECAC2A;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 2px solid #eee;
}

/*carousel styles start here*/

.whats-new-title {
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 46px;
    text-align: left;
    margin-left: 40px;
}

.carousel-box-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px
}

.carousel-indicators {
    bottom: -3px;
    text-align: center;
}

.carousel-indicators li.active {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    border: 1px solid #16a085;
    border-radius: 50%;
    background: white;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.carousel-indicators li.active {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #3F72E6;
    border-radius: 50%;
    border: 1px solid #3F72E6;
}

.caption-text {
    color: white;
    font-style: italic;
}

.caption-title {
    font-size: 18pt;
}

.scrolldown {
    background-color: #53818C;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: -10px;
    padding: 0;

}

.scrollablediv {
    height: 535px;
    padding: 10px;
    overflow-y: scroll;
    background-color: lightgray;
}

.entry {
    height: 162px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.scrollholder {
    background-color: white;
    height: 735px;
    margin-bottom: 50px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.view-more-button {
    border: 1px solid #F9B52B;
    border-radius: 5px;
    background-color: #F9B52B;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 15px 40px;
    color: white;
    float: right;
    margin-right: 40px;
}

.datenlocation {
    font-family: "Helvetica";
    color: dimgray;
    float: top;
    font-size: 12px;
    margin: 0;
}

.entrytitle {
    margin: 0;
    font-size: 16px;
    color: #4A4A4A;
    padding-bottom: 5px;
    overflow: hidden;
}

.entrytext {
    font-family: "Helvetica";
    color: #787878;
    overflow: hidden;
    height: 90px;
    font-size: 16px;
    word-wrap: break-word;
}

.scrolllink {
    color: inherit;
}

.scrolllink:hover {
    color: inherit;
}

.entry-pic {
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}

.meetings {
    padding-top: 5px;
    padding-right: 5px;
    color: #6b93b8;
}

.events {
    padding-top: 5px;
    padding-right: 5px;
    color: #d46452;
}

.news {
    padding-top: 5px;
    padding-right: 5px;
    color: #589fa3;
}

/*Hover for Quicklinks text*/
.quicklinks_homepage:hover {
    text-decoration: underline !important;
    color: #ffffff
}

.see_all_homepage:hover {
    text-decoration: underline !important;
}

.divisions-card {
    color: #000000 !important;
    text-decoration: none; 
}

a.divisions-card:hover,
a.divisions_card:focus {
    color: #000000 !important;
}

/*CSS For Hero - aka Story Section*/
/* new hero */

.dorishero {
    background: #67409E;
    padding-block: min(5vw, 2rem);
}

.dorishero-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    inline-size: min(100% - 2rem, 1600px);
    position: relative;
}

.dorishero-item {
    display: grid;
    grid-template: 1fr auto auto/1fr;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
    position: relative;
}

.dorishero-item:nth-child(1)>.bgImg {
    background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 205.14'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='577.26 90.22 589.54 78.08 589.54 41.24 552.68 4.4 429.86 4.4 393.03 41.24 393.03 16.68 380.74 4.4 331.6 4.4 319.33 16.68 319.33 41.24 294.77 65.81 270.21 41.24 270.21 16.68 257.91 4.4 208.79 4.4 196.5 16.68 184.23 4.4 135.11 4.4 122.82 16.68 122.82 65.81 61.41 4.4 12.29 4.4 0 16.68 0 188.62 12.29 200.91 61.41 200.91 73.69 188.62 73.69 139.49 135.11 200.91 184.23 200.91 196.5 188.62 196.5 90.37 257.91 151.77 257.91 188.62 270.21 200.91 319.33 200.91 331.6 188.62 331.6 151.77 393.03 90.37 393.03 164.05 429.86 200.91 552.68 200.91 589.54 164.05 589.54 127.22 577.26 114.91 515.84 114.91 515.84 127.22 466.71 127.22 466.71 78.08 515.84 78.08 515.84 90.22 577.26 90.22'/%3E%3Cpath class='cls-1' d='m574.34,8.66c.4-.92.95-1.72,1.65-2.39.7-.68,1.5-1.21,2.44-1.6.93-.38,1.91-.58,2.95-.58s2.03.19,2.95.58,1.73.92,2.42,1.6c.69.67,1.24,1.47,1.64,2.39.41.92.61,1.92.61,2.99s-.2,2.11-.61,3.04c-.4.93-.95,1.73-1.64,2.42s-1.5,1.22-2.42,1.59c-.92.38-1.9.57-2.95.57s-2.02-.19-2.95-.57c-.94-.38-1.74-.91-2.44-1.59s-1.25-1.49-1.65-2.42c-.41-.93-.61-1.94-.61-3.04s.21-2.06.61-2.99Zm1.25,5.57c.32.79.75,1.48,1.31,2.06.57.58,1.23,1.04,2,1.37.76.33,1.59.5,2.48.5s1.7-.16,2.46-.5c.76-.33,1.41-.79,1.98-1.37.56-.58,1-1.27,1.32-2.06.32-.79.48-1.66.48-2.59s-.16-1.75-.48-2.54c-.32-.78-.76-1.47-1.32-2.04-.56-.58-1.22-1.03-1.98-1.36-.76-.33-1.58-.5-2.46-.5s-1.72.17-2.48.5c-.77.33-1.43.79-2,1.36-.56.57-.99,1.26-1.31,2.04s-.48,1.63-.48,2.54.16,1.8.48,2.59Zm6.27-6.99c1.05,0,1.84.21,2.34.63.51.42.76,1.05.76,1.91,0,.8-.23,1.39-.67,1.76-.45.37-1,.59-1.66.66l2.53,3.92h-1.48l-2.42-3.82h-1.46v3.82h-1.38V7.24h3.44,0Zm-.61,3.94c.31,0,.6-.01.88-.03.28-.02.52-.08.74-.17.21-.1.39-.24.52-.44.13-.19.19-.47.19-.82,0-.3-.06-.53-.18-.71s-.26-.31-.44-.41c-.19-.1-.4-.16-.63-.19-.24-.03-.47-.05-.7-.05h-1.84v2.82h1.46Z'/%3E%3Cpath class='cls-1' d='m946.94,5.96v196.82h53.06V5.96h-53.06Zm-175.02,23.81c-18.54-18.4-44.06-29.77-72.24-29.77-56.65,0-102.57,45.92-102.57,102.57s45.92,102.57,102.57,102.57,102.57-45.92,102.57-102.57c0-16.42-3.88-31.93-10.74-45.69h35.69v145.9h53.06V56.87h55.27V3.82h-163.6v25.95h-.01Zm-74.96,124.24l-42.97-24.55v-49.08l42.97,24.55v49.08Zm-40.23-78.34l42.95-24.54,42.95,24.54-42.95,24.54-42.95-24.54Zm88.64,53.78l-42.97,24.55v-49.08l42.97-24.55v49.08Z'/%3E%3C/svg%3E") no-repeat center top 35%/50% auto, linear-gradient(to top, #e00087 10%, #f7941d 86%, #ffcc00 99%);
}

.dorishero-item:nth-child(2)>.bgImg {
    background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 205.14'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='577.26 90.22 589.54 78.08 589.54 41.24 552.68 4.4 429.86 4.4 393.03 41.24 393.03 16.68 380.74 4.4 331.6 4.4 319.33 16.68 319.33 41.24 294.77 65.81 270.21 41.24 270.21 16.68 257.91 4.4 208.79 4.4 196.5 16.68 184.23 4.4 135.11 4.4 122.82 16.68 122.82 65.81 61.41 4.4 12.29 4.4 0 16.68 0 188.62 12.29 200.91 61.41 200.91 73.69 188.62 73.69 139.49 135.11 200.91 184.23 200.91 196.5 188.62 196.5 90.37 257.91 151.77 257.91 188.62 270.21 200.91 319.33 200.91 331.6 188.62 331.6 151.77 393.03 90.37 393.03 164.05 429.86 200.91 552.68 200.91 589.54 164.05 589.54 127.22 577.26 114.91 515.84 114.91 515.84 127.22 466.71 127.22 466.71 78.08 515.84 78.08 515.84 90.22 577.26 90.22'/%3E%3Cpath class='cls-1' d='m574.34,8.66c.4-.92.95-1.72,1.65-2.39.7-.68,1.5-1.21,2.44-1.6.93-.38,1.91-.58,2.95-.58s2.03.19,2.95.58,1.73.92,2.42,1.6c.69.67,1.24,1.47,1.64,2.39.41.92.61,1.92.61,2.99s-.2,2.11-.61,3.04c-.4.93-.95,1.73-1.64,2.42s-1.5,1.22-2.42,1.59c-.92.38-1.9.57-2.95.57s-2.02-.19-2.95-.57c-.94-.38-1.74-.91-2.44-1.59s-1.25-1.49-1.65-2.42c-.41-.93-.61-1.94-.61-3.04s.21-2.06.61-2.99Zm1.25,5.57c.32.79.75,1.48,1.31,2.06.57.58,1.23,1.04,2,1.37.76.33,1.59.5,2.48.5s1.7-.16,2.46-.5c.76-.33,1.41-.79,1.98-1.37.56-.58,1-1.27,1.32-2.06.32-.79.48-1.66.48-2.59s-.16-1.75-.48-2.54c-.32-.78-.76-1.47-1.32-2.04-.56-.58-1.22-1.03-1.98-1.36-.76-.33-1.58-.5-2.46-.5s-1.72.17-2.48.5c-.77.33-1.43.79-2,1.36-.56.57-.99,1.26-1.31,2.04s-.48,1.63-.48,2.54.16,1.8.48,2.59Zm6.27-6.99c1.05,0,1.84.21,2.34.63.51.42.76,1.05.76,1.91,0,.8-.23,1.39-.67,1.76-.45.37-1,.59-1.66.66l2.53,3.92h-1.48l-2.42-3.82h-1.46v3.82h-1.38V7.24h3.44,0Zm-.61,3.94c.31,0,.6-.01.88-.03.28-.02.52-.08.74-.17.21-.1.39-.24.52-.44.13-.19.19-.47.19-.82,0-.3-.06-.53-.18-.71s-.26-.31-.44-.41c-.19-.1-.4-.16-.63-.19-.24-.03-.47-.05-.7-.05h-1.84v2.82h1.46Z'/%3E%3Cpath class='cls-1' d='m946.94,5.96v196.82h53.06V5.96h-53.06Zm-175.02,23.81c-18.54-18.4-44.06-29.77-72.24-29.77-56.65,0-102.57,45.92-102.57,102.57s45.92,102.57,102.57,102.57,102.57-45.92,102.57-102.57c0-16.42-3.88-31.93-10.74-45.69h35.69v145.9h53.06V56.87h55.27V3.82h-163.6v25.95h-.01Zm-74.96,124.24l-42.97-24.55v-49.08l42.97,24.55v49.08Zm-40.23-78.34l42.95-24.54,42.95,24.54-42.95,24.54-42.95-24.54Zm88.64,53.78l-42.97,24.55v-49.08l42.97-24.55v49.08Z'/%3E%3C/svg%3E") no-repeat center top 35%/50% auto, linear-gradient(to right, #e00087 10%, #f7941d 86%, #ffcc00 99%);
}

.dorishero-item:nth-child(3)>.bgImg {
    background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 205.14'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='577.26 90.22 589.54 78.08 589.54 41.24 552.68 4.4 429.86 4.4 393.03 41.24 393.03 16.68 380.74 4.4 331.6 4.4 319.33 16.68 319.33 41.24 294.77 65.81 270.21 41.24 270.21 16.68 257.91 4.4 208.79 4.4 196.5 16.68 184.23 4.4 135.11 4.4 122.82 16.68 122.82 65.81 61.41 4.4 12.29 4.4 0 16.68 0 188.62 12.29 200.91 61.41 200.91 73.69 188.62 73.69 139.49 135.11 200.91 184.23 200.91 196.5 188.62 196.5 90.37 257.91 151.77 257.91 188.62 270.21 200.91 319.33 200.91 331.6 188.62 331.6 151.77 393.03 90.37 393.03 164.05 429.86 200.91 552.68 200.91 589.54 164.05 589.54 127.22 577.26 114.91 515.84 114.91 515.84 127.22 466.71 127.22 466.71 78.08 515.84 78.08 515.84 90.22 577.26 90.22'/%3E%3Cpath class='cls-1' d='m574.34,8.66c.4-.92.95-1.72,1.65-2.39.7-.68,1.5-1.21,2.44-1.6.93-.38,1.91-.58,2.95-.58s2.03.19,2.95.58,1.73.92,2.42,1.6c.69.67,1.24,1.47,1.64,2.39.41.92.61,1.92.61,2.99s-.2,2.11-.61,3.04c-.4.93-.95,1.73-1.64,2.42s-1.5,1.22-2.42,1.59c-.92.38-1.9.57-2.95.57s-2.02-.19-2.95-.57c-.94-.38-1.74-.91-2.44-1.59s-1.25-1.49-1.65-2.42c-.41-.93-.61-1.94-.61-3.04s.21-2.06.61-2.99Zm1.25,5.57c.32.79.75,1.48,1.31,2.06.57.58,1.23,1.04,2,1.37.76.33,1.59.5,2.48.5s1.7-.16,2.46-.5c.76-.33,1.41-.79,1.98-1.37.56-.58,1-1.27,1.32-2.06.32-.79.48-1.66.48-2.59s-.16-1.75-.48-2.54c-.32-.78-.76-1.47-1.32-2.04-.56-.58-1.22-1.03-1.98-1.36-.76-.33-1.58-.5-2.46-.5s-1.72.17-2.48.5c-.77.33-1.43.79-2,1.36-.56.57-.99,1.26-1.31,2.04s-.48,1.63-.48,2.54.16,1.8.48,2.59Zm6.27-6.99c1.05,0,1.84.21,2.34.63.51.42.76,1.05.76,1.91,0,.8-.23,1.39-.67,1.76-.45.37-1,.59-1.66.66l2.53,3.92h-1.48l-2.42-3.82h-1.46v3.82h-1.38V7.24h3.44,0Zm-.61,3.94c.31,0,.6-.01.88-.03.28-.02.52-.08.74-.17.21-.1.39-.24.52-.44.13-.19.19-.47.19-.82,0-.3-.06-.53-.18-.71s-.26-.31-.44-.41c-.19-.1-.4-.16-.63-.19-.24-.03-.47-.05-.7-.05h-1.84v2.82h1.46Z'/%3E%3Cpath class='cls-1' d='m946.94,5.96v196.82h53.06V5.96h-53.06Zm-175.02,23.81c-18.54-18.4-44.06-29.77-72.24-29.77-56.65,0-102.57,45.92-102.57,102.57s45.92,102.57,102.57,102.57,102.57-45.92,102.57-102.57c0-16.42-3.88-31.93-10.74-45.69h35.69v145.9h53.06V56.87h55.27V3.82h-163.6v25.95h-.01Zm-74.96,124.24l-42.97-24.55v-49.08l42.97,24.55v49.08Zm-40.23-78.34l42.95-24.54,42.95,24.54-42.95,24.54-42.95-24.54Zm88.64,53.78l-42.97,24.55v-49.08l42.97-24.55v49.08Z'/%3E%3C/svg%3E") no-repeat center top 35%/50% auto, linear-gradient(to left, #e00087 10%, #f7941d 86%, #ffcc00 99%);
}

.dorishero-item>* {
    position: relative;
}

.dorishero-item>.bg-image {
    grid-column: 1;
    grid-row: 1/4;
    place-self: stretch;
    position: relative;
}

.dorishero-item>.bg-image>* {
    position: absolute;
    inset: 0;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}

.dorishero-item>.dorishero-itemHeading {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    font-size: 2rem;
    position: static;
    opacity: 1;
    z-index: 5;
}

.dorishero-item>.dorishero-itemHeading a {
    background: #000000;
    color: #fff !important;
    display: block;
    padding: 0.25rem 0.5rem;
}

.dorishero-item>.dorishero-itemHeading a::after {
    content: "";
    block-size: 100%;
    inline-size: 100%;
    position: absolute;
    inset: 0;
    background: transparent;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    transition: all 0.3s ease 0s;
}

.dorishero-item>.dorishero-itemHeading a:focus-visible {
    outline: none;
    box-shadow: none;
}

.dorishero-item>.dorishero-itemHeading a:focus-visible::after {
    box-shadow: 0 0 0 2px #ffcc00, 0 0 0 4px #000;
}


.dorishero-item:nth-child(n+2)>.dorishero-itemHeading {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .dorishero-list {
        inline-size: min(100% - 2rem, 750px);
    }

    .dorishero-item:nth-child(n+2) {
        margin-block-start: 1.5rem;
    }

    .dorishero-item:nth-child(n) {
        display: grid;
        grid-template: 1fr auto/1fr;
    }

    .dorishero-item:nth-child(n)>.dorishero-itemHeading {
        font-size: 1.25rem;
        grid-row: 3;
        grid-column: 1;
    }

    .dorishero-item:nth-child(n)>.bg-image {
        aspect-ratio: 16/9;
        grid-column: 1;
        grid-row: 1/3;
    }
}

@media (min-width: 1200px) {
    .dorishero-list {
        inline-size: min(100% - 2rem, 1200px);
        aspect-ratio: 24/9;
        display: grid;
        grid-template: 4.5fr 4.5fr/16fr 8fr;
        gap: 1rem;
    }

    .dorishero-item {
        aspect-ratio: 16/9;
        place-self: stretch;
    }

    .dorishero-item:nth-child(1) {
        grid-column: 1;
        grid-row: span 2;
    }
}
