.container {
    height: 100%;
    width: 100%;
    padding-left: 0;
}

.test {
    padding-left: 0;
}

.doris {
    max-height: 100%;
    max-width: 100%;
    height: 870px;
    width: 720px;
    background: rgba(0, 255, 255, 0.5);
}

.doristext {
    font-family: Phosphate;
    color: white;
    font-size: 72px;
    text-align: center;
    line-height: 91px;
    letter-spacing: 4.5px;
}

.intranet {
    font-family: "Helvetica Neue";
    color: white;
    font-size: 48px;
    text-align: center;
    line-height: 57px;
    letter-spacing: 8.16px;
    margin: 0;
}

.imagetext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-login-style {
    padding-bottom: .5rem;
    font-weight: 300;
    color: #2A2C2E;
    font-family: "Helvetica Neue";
    font-size: 18px;
}

.login-input-style > input {
    height: 38px;
    width: 540px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding-left: 10px;
}

#login-submit-style > input {
    padding-left: 10px;
    height: 52px;
    width: 540px;
    border: 1px solid #ECAC2A;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ECAC2A;
}

#registration-link-style {
    width: 540px;
    color: #000000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-left: 10rem;
}

.login-form-styles {
    margin-top: 14.4375rem;
    padding-bottom: 4rem;
    padding-left: 4.6875rem;
}
