.new-post-section {
    padding-top: 30px;
}

.new-post-form {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.post-form-label {
    color: #2A2C2E;
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 18px;
}

.post-form-field {
    margin-bottom: 3rem;
}

.post-form-input {
    width: 50%;
    font-size: 16px;
}

.post-form-select {
    width: 50%;
}

.poste-form-textarea {
    width: 500px;
    height: 500px;
}

.bootstrap-tagsinput {
    width: 50%;
}

.text-core {
    width: 500px;
}

.text-wrap {
    width: 500px;
}

.center-submit-button {
    text-align: center;
}

.post-form-submit {
    width: 50%;
    font-size: 18px;
}

.glyphicon.glyphicon-remove-circle {
    line-height: 1.42857143;
}

.multiselect-reset {
    padding-left: 20px !important;
}

.view-post-section {
    padding-top: 25px;
    word-wrap: break-word;
    font-size: 18px;
}

.post-title {
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
}

#content-error {
    color: indianred;
    font-size: 0.9em;
    display: none;
}

.intranet-use-policy-close-button {
    float: right;
    font-size: 18px;
}

.panel-heading-text {
    font-size: 18px;
    padding-left: 0;
    color: black;
    background: none;
    border-color: #f5f5f5;
    pointer-events: none;
}

.view-post-text {
    font-size: 18px;
}

.form-control {
    font-size: 16px;
}

/* Styles for multi select plugin */
.form-check-label {
    padding-left: 25px;
    font-size: 16px;
}

.multiselect-reset > .btn {
    font-size: 16px;
}

.multiselect-container{
    width: 50%;
}

button.multiselect {
    font-size: 16px;
}

/* Styles for jquery time picker */
.ui-timepicker-viewport>.ui-menu-item {
    font-size: 16px;
}

/* Styles for jquery datepicker */
.ui-datepicker {
    font-size: 16px;
}

/* Styles for jquery autocomplete*/
.ui-autocomplete {
    font-size: 16;
}