.new-post-button {
    color: #3F72E6;
    padding-left: 0;
    padding-bottom: 10px;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: normal;
}

.sort-by-label {
    padding-left: 11rem;
    color: #787878;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}

.sort-by-dropdown {
    margin-top: -45px;
    float: right;
    height: 40px;
    width: 270px;
    color: #4A4A4A;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.filter-section {
    width: 25%;
}

.filter-by {
    color: #787878;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}

.panel-group > .panel.filter-border {
    border-radius: 0px;
}

.panel-default > .filter-heading {
    color: #5C95A3;
}

.panel-group .panel + .panel {
    margin-top: 1px;
}

hr.panel-divider {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #ACACAC;
    border-radius: 3px;
}

.filter-border {
    border: 1px solid #ACACAC;
    border-radius: 3px;
}

.filter-heading {
    color: #5C95A3;
    font-family: "Helvetica";
    font-size: 11px;
    font-weight: bold;
}

form.filter-form {
    margin-bottom: 0;
}

.filter-form > .form-check {
    padding-left: 0;
}

.panel-body.filter-choices {
    padding-top: 5px;
    padding-bottom: 3px;
}

.filter-option-label {
    color: #4A90E2;
    margin-left: 20px;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.8px;
    line-height: 16px;
}

.first-post-row {
    padding-top: 5.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.post-row {
    padding-left: 2rem;
    padding-right: 2rem;
}

.post-icon {
    text-align: center;
    word-wrap: break-word;
}

.post-description {
    word-wrap: break-word;
}

.post-title {
    color: #4A4A4A;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
}

.post-date-author {
    color: #787878;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: normal;
}

.post-preview {
    color: #787878;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}

.post-divider {
    border: 1px solid #ACACAC;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.read-more {
    float: right;
    color: #3F72E6;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}

.post-section {
    padding-top: 30px;
}

.post-icon-text {
    padding-top: 10px;
    color: #6093BC;
}

.new-post-button {

}

.post-pagination {
    text-align: center;
}