.our-mission-section {
    padding-top: 10px;
}

.our-mission-image {
    /* 70% of the original image size */
    height: 385px;
    width: 488px;
    margin-top: 25px;
}

.our-mission-text {
    color: #787878;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: normal;
}

.division-list{
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: normal;
}