.our-mission-section {
    padding-top: 10px;
}

.our-mission-image {
    /* 70% of the original image size */
    height: 385px;
    width: 488px;
    margin-top: 25px;
    margin-left: 50px;
}

.our-mission-text {
    color: #000000;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
    margin-right: 50px;
}

.division-list{
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}