.panel-default>.panel-header-style {
    background-color:#FFFFFF;
    height:125px;
    padding-top:40px;
}

.panel-body-style {
    padding:0;
}

.staff-directory-search-options {
    font-family: Helvetica Neue;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

#filter-menu>select {
    width: 290px;
    height: 38px;
}

#staff-directory-submit>input[type=submit] {
    height: 38px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding-left: 10px;
    background-color:#FFFFFF;
}

#staff-directory-search>input[type=text] {
    width:290px;
    height:35px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding-left: 10px;
    background-color:#FFFFFF;
}

.th-styles {
    color: #FFFFFF;
    font-family:Helvetica Neue;
    font-size: 18px;
    letter-spacing: 0.82px;
    font-weight: normal;
    background-color:#5C95A3;
}

.td-styles {
    color: #333333;
    font-family: Helvetica Neue;
    font-size: 18px;
    letter-spacing: 0.76px;
    text-align:left;
    vertical-align: middle;
    background-color:#FFFFFF;
}

.avatar-style {
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right: 20px;
}

.table>#staff-directory-table>tr>td {
        vertical-align: middle;
}

.popover-content {
    height: 380px;
    width: 596px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5), 0 4px 4px 0 rgba(0,0,0,0.5);
}

.popover-img {
    margin-top:20px;
    margin-left: 15px;
    border-radius: 50%;
    height: 156px;
    width: 156px;
}

a>.popper:hover{
    text-decoration: none;
}

#popover-name-styles {
    margin-top:20px;
    font-size: 36px;
    letter-spacing: 0.91px;
    font-family: "Helvetica Neue";
}

#popover-titles-styles {
    color: #39393A;
    font-family: "Helvetica Neue";
    font-size: 24px;
    letter-spacing: 0.61px;
}

#popover-division-styles {
    color: #656565;
    font-family: "Helvetica Neue";
	font-size: 18px;
}

#popover-information-styles {
    color: #333333;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-left: 15px;
}

.popover-close-link {
    height: 16px;
    width: 14px;
    margin-right:10px;
}