.strategic-planning-section {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: normal;
    color: #4A4A4A;
}

.breadcrumb-section {
    background-color: white !important;
    padding: 0;
    margin: 0;
}

.breadcrumb-nav {
    padding-left: 0;
    margin-left: 0;
}
  
  .breadcrumb-ol {
    padding: 0;
    margin: 0;
}

.breadcrumb-item {
    font-size: 16px;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "> ";
}