<!--{% extends "bootstrap/base.html" %}-->

<!DOCTYPE html>
<html class="no-js" lang="en">

{% block head %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Intranet</title>

    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}"/>-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/plugins/jquery.timepicker.min.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/textext.core.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/plugins/textext.plugin.autocomplete.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/textext.plugin.tags.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-tagsinput.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/easy-autocomplete.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/news-updates.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/new-post.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/footer.css') }}"/>

    {% block custom_css %}
    {% endblock %}
{% endblock %}

<body>
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top login-header">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle login-button" data-toggle="dropdown" href="#">Hello, {{ current_user.name
                        }}&nbsp;<span
                                class="glyphicon glyphicon-triangle-bottom"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="login-button" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}}
            </ul>
        </div>
    </nav>
    <div class="blue-overlay">
        <div class="container">
            <div class=" header-current-date">{{ moment().format('dddd, MMMM DD, YYYY') }}</div>
            <div class="header-doris-style">
                <span><a id="doris-link-style" href="{{ url_for('main.index') }}">DORIS</a></span>
            </div>
            <!--<div class="header-doris-style">-->
                <!--<span><a id="doris-link-style2" href="{{ url_for('main.index') }}">intranet</a></span>-->
            <!--</div>-->
            <a href="{{ url_for('main.index') }}"><span class="header-intranet-style">intranet</span></a>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="search-bar" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default nav-magnification-style" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <nav class="navbar transparent">
                <div class="navbar-inner container-fluid">
                    <ul class="nav navbar-nav col-sm-12">
                        <li class="col-md-3 navbar-option">
                            <a href="{{ url_for('main.news_and_updates') }}">
                                News & Updates
                                <span class="caret nav-caret"></span>
                            </a>
                            <ul class="blue-nav-dropdown dropdown-menu">
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">Meeting Notes</a>
                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3 navbar-option employee-resources-navbar-option">
                            <a href="{{ url_for('main.employee_resources') }}">
                                Employee Resources
                                <span class="caret nav-caret"></span>
                            </a>
                            <ul class="blue-nav-dropdown dropdown-menu">
                                <li>
                                    <a href="{{ url_for('main.staff_directory') }}">Staff Directory</a>
                                </li>
                                <li>
                                    <a href="#">Employee Benefits</a>
                                </li>
                                <li>
                                    <a href="#">Policies & Procedures</a>
                                </li>
                                <li>
                                    <a href="#">Documents</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3 navbar-option">
                            <a href="#" id="navbar-bottom-boder-style">Strategic Planning</a>
                        </li>
                        <li class="col-sm-3 navbar-option">
                            <a href="{{ url_for('main.it_support') }}">
                                IT Support
                                <span class="caret nav-caret"></span>
                            </a>
                            <ul class="blue-nav-dropdown dropdown-menu">
                                <li>
                                    <a href="{{ url_for('main.faq') }}">FAQ</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container page-container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
    <div class="wrap">
        <div class="intranet-footer">
            <div class="container col-sm-12">
                <div class="center-footer">
                    <div class="footer-left col-sm-3 line">
                        <div class="footer-box">
                            <img class="doris-banner" src="{{ url_for('static', filename='img/doris_banner.png') }}">
                        </div>
                    </div>
                    <div class="col-sm-3 line">
                        <div class="footer-box">
                            <h1>ABOUT</h1>
                            <ul>
                                <li>
                                    <a href="{{ url_for('main.our_mission') }}">Our Mission</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.divisions') }}">Divisions</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.contact') }}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 line">
                        <div class="footer-box">
                            <h1>DORIS SITES</h1>
                            <ul>
                                <li>
                                    <a href="http://www.archives.nyc/">Archives.nyc</a>
                                </li>
                                <li>
                                    <a href="https://a860-openrecords.nyc.gov/">OpenRecords</a>
                                </li>
                                <li>
                                    <a href="http://nycma.lunaimaging.com/luna/servlet">Online Gallery</a>
                                </li>
                                <li>
                                    <a href="http://www.womensactivism.nyc/">Women's Activism.nyc</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 line">
                        <div class="social-media-box">
                            <div class="social-media-box-centered">
                                </ul>
                                <h1>SOCIAL MEDIA</h1>
                                <ul>
                                    <li>
                                        <img class="social-media-logo"
                                             src="{{ url_for('static', filename='img/facebook_logo.png') }}">
                                        <a href="https://www.facebook.com/nycrecords"> Facebook</a>
                                    </li>
                                    <li>
                                        <img class="social-media-logo"
                                             src="{{ url_for('static', filename='img/instagram_logo.png') }}">
                                        <a href="https://www.instagram.com/nycarchives/"> Instagram</a>
                                    </li>
                                    <li>
                                        <img class="social-media-logo"
                                             src="{{ url_for('static', filename='img/twitter_logo.png') }}">
                                        <a href="https://twitter.com/nycrecords"> Twitter</a>
                                    </li>
                                    <li>
                                        <img class="social-media-logo"
                                             src="{{ url_for('static', filename='img/tumblr_logo.png') }}">
                                        <a href="http://nycrecords.tumblr.com/"> Tumblr</a>
                                    </li>
                                    <li>
                                        <img class="social-media-logo"
                                             src="{{ url_for('static', filename='img/youtube_logo.png') }}">
                                        <a href="https://www.youtube.com/user/NYCDeptofRecords"> YouTube</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-tagsinput.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.easy-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.timepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/textext.core.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/textext.plugin.tags.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% block custom_scripts %}
    {% endblock %}
{% endblock %}

</body>

</html>