<!--{% extends "bootstrap/base.html" %}-->

<!DOCTYPE html>
<html class="no-js" lang="en">

{% block head %}
    {{ super() }}
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}"/>-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/plugins/jquery.timepicker.min.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/textext.core.css') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/plugins/textext.plugin.autocomplete.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/textext.plugin.tags.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-tagsinput.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/easy-autocomplete.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/news-updates.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/new-post.css') }}"/>
{% endblock %}

<body>

{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top top-header" role="navigation">
        <div class="container">
            <div class="navbar-header">
            </div>
        </div>
    </div>
    <div class="blue-overlay">

    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    <div class="blue-footer">
{% endblock %}

{% block footer %}
    <div class="blue-overlay">
    <footer> some footer</footer>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery.timepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/textext.core.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/textext.plugin.autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/textext.plugin.tags.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-tagsinput.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery.easy-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/staff_directory.js') }}"></script>

{% endblock %}

</body>
</html>