<!--{% extends "bootstrap/base.html" %}-->

<!DOCTYPE html>
<html class="no-js" lang="en">

{% block head %}
    {{ super() }}
    <title>Change Password - Intranet</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}

<body>
{% block content %}
    <div class="container">
        {% block page_content %}
        <div class="col-sm-12 outer">
            <div class="col-sm-6 inner">
                <img src="{{ url_for('static', filename='img/login_background.png') }}">
                <div class="doris-logo centered">
                    <p class="doris-text">DORIS</p>
                    <p class="intranet-text">intranet</p>
                </div>
            </div>
            <div class="col-sm-6 inner">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger login-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                <form method="post" class="login-form">
                    <h3>Select a New Password</h3>
                    <br>
                    {{ password_form.hidden_tag() }}
                    <div class="form-group login-field {% if password_form.current_password.errors %}has-error{% endif %}">
                        {{ password_form.current_password.label(class="login-form-label") }}
                        {{ password_form.current_password(class="form-control", placeholder="Enter your current password") }}
                        {% if password_form.current_password.errors %}
                        <div style="color: #a94442">
                            {{ password_form.current_password.errors[0] }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group login-field">
                        {{ password_form.new_password.label(class="login-form-label") }}
                        {{ password_form.new_password(class="form-control", placeholder="Enter your new password") }}
                        {% if password_form.new_password.errors %}
                        <ul style="color: #a94442; padding-left: 1em">
                            {% for error in password_form.new_password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="form-group login-field">
                        <button type="submit" class="form-control login-submit-button">
                            Change Password
                        </button>
                    </div>

                </form>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

</body>

</html>