{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Divisions{% endblock %}

{% block custom_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}" />

{% endblock %}

{% block page_content %}
<main role="main">

    <!-- Add your Custom image class below (after 'banner-with-background') -->
    <div class="bg-primary banner-with-background oculus d-flex flex-column">

        <div class="container-fluid my-auto text-center">
            <div class="narrow">
                <h1 class="display-4 text-white">Divisions</h1>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .banner-with-background -->


    <!--Breadcrumb-->
    <section class="bg-light py-2">
        <br>
        <div class="container">
            <div class="row">
                <!-- Breadcrumb Section -->
                <div class="col-sm-6">
                    <nav class="breadcrumb-nav" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-ol">
                            <li class="breadcrumb-item">
                                <a href="{{ url_for('main.index') }}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Divisions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    <!--Divisions Row 1-->
    <section class="bg-light py-5">
        <div class="container">
            <header class="mb-2 text-primary">
                <div class="row align-items-baseline">
                    <div class="col-lg">
                        <h2>Divisions</h2>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </header>
            <br>
            <div class="row matrix-gutter">
                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='administration-and-human-resources') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Administration & Human Resources</h2>
                            <p class="card-text">
                                The Administration & Human Resources division is responsible for all maintaining all
                                employee personnel records, procurement, and payroll.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='executive') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Executive</h2>
                            <p class="card-text">
                                The Executive division ensures that all of the agency’s operations run smoothly and
                                that we advance DORIS’s mission.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='external-affairs') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">External Affairs</h2>
                            <p class="card-text">
                                The External Affairs Unit coordinates the public-facing elements of the agency,
                                including its websites, social media, public programs, education, community outreach and
                                marketing.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='grant-unit') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Grant Unit</h2>
                            <p class="card-text">
                                The Grant Administration Unit provides guidance to agencies in the development of grant
                                projects from the first conceptual stages, to the preparation of final application
                                drafts.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>


    <!--Divisions Row 2-->
    <section class="bg-light py-2">
        <div class="container">
            <div class="row matrix-gutter">
                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='information-technology') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Information Technology</h2>
                            <p class="card-text">
                                The IT division is responsible for innovation, automation, achieving operational
                                efficiencies, standardization, using industry best practices and maximizing the use of technology
                                across the agency.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='legal') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Legal</h2>
                            <p class="card-text">
                                The Legal unit/Agency Attorney reviews legal matters, conducts
                                interviews, prepares cases and represents the agency at administrative hearings and in
                                court as needed.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='municipal-archives') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Municipal Archives</h2>
                            <p class="card-text">
                                The Municipal Archives preserves and makes available the
                                historical records of New York City government. The MA holds over 200,000 cubic feet and
                                over 50TB of records dating from the early seventeenth century to the present.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='municipal-library') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Municipal Library</h2>
                            <p class="card-text">
                                The Municipal Library is mandated by the New York City Charter as the
                                official repository for New York City agency publications. They provide access through
                                our print collection and electronic government documents portal.
                            </p>
                        </div>
                    </div>
                    </a>  
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>


    <!--Divisions Row 3-->
    <section class="bg-light py-5">
        <div class="container">
            <div class="row matrix-gutter">
                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='municipal-records-management') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Municipal Records Management</h2>
                            <p class="card-text">
                                The Municipal Records Management division develops and sets citywide policies for
                                records management and operate storage facilities that holds active records for NYC agencies.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-lg-3">
                    <a class="text-secondary divisions-card" href="{{ url_for('main.division_pages', division_name='operations') }}">
                    <div class="card h-100 bg-white">
                        <div class="card-body">
                            <h2 class="card-title h5">Operations</h2>
                            <p class="card-text">
                                The Operations Unit/Operations Manager is in charge of making sure
                                that DORIS staff have safe and comfortable working environments.
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    {% endblock %}