{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Divisions{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/divisions.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Divisions</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Divisions</h1>
    </div>
    <div class="col-sm-12 well content-area divisions-section">
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='administration-and-human-resources') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Administration & Human Resources</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='executive') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Executive</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='external-affairs') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">External Affairs</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='grant-unit') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Grant Unit</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>Some text about this division. Some text about this division.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Executive division ensures that all of the agency’s operations run smoothly and
                        that we advance DORIS’s mission.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The External Affairs Unit coordinates the public-facing
                        elements of the agency, including its websites, social media, public programs, education,
                        community outreach
                        and marketing.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Grant Administration Unit provides guidance to agencies in the development of grant
                        projects from the first conceptual stages, to the preparation of final application drafts.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='information-technology') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Information Technology</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='legal') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Legal</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='municipal-archives') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Municipal Archives</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='municipal-library') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Municipal Library</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The IT division is responsible for innovation, automation, achieving operational efficiencies,
                        standardization, using industry best practices and maximizing the use of technology across the
                        agency.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Legal unit/Agency Attorney reviews legal matters, conducts
                        interviews, prepares cases and represents the agency at administrative hearings and in court as
                        needed.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Municipal Archives preserves and makes available the
                        historical records of New York City government. The MA holds over 200,000 cubic feet and over
                        50TB of
                        records dating from the early seventeenth century to the present.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Municipal Library is mandated by the New York City Charter as the
                        official repository for New York City agency publications. They provide access through our print
                        collection and electronic government documents portal.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='municipal-records-management') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Municipal Records Management</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ url_for('main.division_pages', division_name='operations') }}">
                    <div class="division-card col-sm-12">
                        <h4 class="divisions-title">Operations</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Municipal Records Management division develops and sets citywide policies for records
                        management and operate storage facilities that holds active records for NYC agencies.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="division-description-text">
                    <p>The Operations Unit/Operations Manager is in charge of making sure
            that DORIS staff have safe and comfortable working environments.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}