{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Divisions</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Divisions</h1>
    </div>
    <div class="well content-area container">
        <div class="row">
            <a href="">
                <div class="divisioncard col-sm-3">
                    Administration
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    Executive
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    External Affairs
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    Grant Unit
                </div>
            </a>
        </div>
        <div class="row">
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
        </div>
        <div class="row">
            <a href="">
                <div class="divisioncard col-sm-3" style="padding-top: 50px">
                    Manangement and <br>
                    Information Services
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    Municipal Archives
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    Municipal Library
                </div>
            </a>
            <a href="">
                <div class="divisioncard col-sm-3">
                    Municipal Records
                </div>
            </a>
        </div>
        <div class="row">
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
            <div class="division-description col-sm-3">
                <p>Basic division description of stuff and other stuff. This divisiin does so much stuff its crazy.
                More test text, how long can it be</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}