{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Employee Resources</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Documents</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Documents</h1>
    </div>
    <div class="well content-area container">
        <br>
        <div class="searchform">
            <form action="/action_page.php">
                Search by: <input type="text" placeholder="Search.." class="searchbar">
                <select class="searchdropdown">
                    <option value="volvo">Name</option>
                    <option value="saab">Type</option>
                    <option value="mercedes">Last Modified</option>
                    <option value="audi">Division</option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="search-container">
            <div class="tab">
                <button class="tablinks firstbutton" onclick="openTab(event, 'Instructions')" id="defaultOpen">Instructions</button>
                <button class="tablinks secondbutton" onclick="openTab(event, 'Policies & Procedures')">Policies & Procedures
                </button>
                <button class="tablinks thirdbutton" onclick="openTab(event, 'Templates')">Templates</button>
            </div>
        </div>
        <div id="Instructions" class="tabcontent">
            <br>
            <table class="table table-striped">
                <tr>
                    <th style="width: 40%">Name</th>
                    <th style="width: 30%">Type</th>
                    <th style="width: 20%;">Last Modified</th>
                    <th style="width: 10%;">Division</th>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="Policies & Procedures" class="tabcontent">
            <br>
            <table class="table table-striped">
                <tr>
                    <th style="width: 40%">Name</th>
                    <th style="width: 30%">Type</th>
                    <th style="width: 20%;">Last Modified</th>
                    <th style="width: 10%;">Division</th>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="Templates" class="tabcontent">
            <br>
            <table class="table table-striped">
                <tr>
                    <th style="width: 40%">Name</th>
                    <th style="width: 30%">Type</th>
                    <th style="width: 20%;">Last Modified</th>
                    <th style="width: 10%;">Division</th>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                    <td>heyeyeye</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">&#8678;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">&#8680;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
</script>
{% endblock %}