{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Employee Resources{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/employee-resources.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Employee Resources</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Employee Resources</h1>
    </div>
    <div class="col-sm-12 well content-area employee-resources-section">
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ url_for('main.staff_directory') }}">
                    <div class="employee-resources-option-boxes col-sm-12">
                        <div class="row">
                            <h4 class="employee-resources-title">STAFF DIRECTORY</h4>
                            <img class="employee-resources-icon"
                                 src="{{ url_for('static', filename='img/staff_directory.png') }}">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{{ url_for('main.employee_benefits') }}">
                    <div class="employee-resources-option-boxes col-sm-12">
                        <div class="row">
                            <h4 class="employee-resources-title">EMPLOYEE BENEFITS</h4>
                            <img class="employee-resources-icon"
                                 src="{{ url_for('static', filename='img/employee_benefits.png') }}">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="employee-resources-option-boxes col-sm-12">
                        <div class="row">
                            <h4 class="employee-resources-title">DOCUMENTS</h4>
                            <img class="employee-resources-icon"
                                 src="{{ url_for('static', filename='img/documents.png') }}">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="employee-resources-text">
                    <p>Look up contact information for Department of Records staff members.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="employee-resources-text">
                    <p>Find information on employee benefits for DORIS and NYC.gov employees.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="employee-resources-text">
                    <p>Looking for templates, instructions or information on Policies and Procedures? Download files here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#">
                    <div class="employee-resources-option-boxes col-sm-12">
                        <div class="row">
                            <h4 class="employee-resources-title">POLICIES AND PROCEDURES</h4>
                            <img class="employee-resources-icon"
                                 src="{{ url_for('static', filename='img/documents.png') }}">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="employee-resources-text">
                    <p>Find documents relating to policies and procedures here.</p>
                </div>
            </div>
        </div>
        <hr>
        <h3>External Sites</h3>
        <br><br>
        <div class="row">
            <div class="col-sm-4 center-site-cards">
                <a href="http://cityshare.nycnet/portal/site/cityshare/?front_door=true" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/cityshare_logo.png') }}"
                             class="external-site-image">
                        <div class="external-site-text">
                            <p>New York City's Employee Portal. Access information about benefits for City Employees, Information Technology, and much more.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 center-site-cards">
                <a href="https://prod.citytime.nycnet/" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/citytime_logo.png') }}"
                             class="external-site-image">
                        <div class="external-site-text">
                            <p>New York City Employee timeclock for employees. Use this to manage your timesheet, enter time punches, and request leave.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 center-site-cards">
                <a href="http://timeclock.records.nycnet/auth/login" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/timeclock_logo.png') }}"
                             class="external-site-image">
                        <div class="external-site-text">
                            <p>Department of Records timeclock for contractors and interns. Use this to clock in / out, generate timesheets, and print out invoices.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4 center-site-cards">
                <a href="https://a127-ess.nyc.gov/psp/prdess/?cmd=login" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/nycaps_logo.gif') }}" class="external-site-image">
                        <div class="external-site-text">
                            <p>NYCAPS - Employee Self-Service (ESS). NYC Employee Self-Service Portal. Find your pay stubs, deduction information, and manage your personal information in the city's online human resources portal.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 center-site-cards">
                <a href="https://www.nycers.org/" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/nycers_logo.svg') }}" class="external-site-image">
                        <div class="external-site-text">
                            <p>NYC Employee Retirement System. Manage your retirement benefits and plan for your retirement.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 center-site-cards">
                <a href="https://www1.nyc.gov/site/opa/index.page" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/nyc_payroll_logo.png') }}"
                             class="external-site-image">
                        <div class="external-site-text">
                            <p>NYC Office of Payroll Administration website has information about direct deposit, paycheck calculator information on the commuter benefits program and City holidays and pay dates.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4 center-site-cards">
                <a href="https://www1.nyc.gov/site/olr/index.page" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/nyc_office_of_labor_relations_logo.png') }}"
                             class="external-site-image">
                        <div class="external-site-text">
                            <p>NYC Office of Labor Relations website allows you to find out information about  NYC Health Benefit Plans description and cost, Flexible Spending Accounts, Deferred Compensation and Management Benefit Fund (Managers Only)</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 center-site-cards">
                <a href="http://www.nyc.gov/html/dcas/html/home/home.shtml" rel="noopener" target="_blank">
                    <div class="external-site-card col-sm-12">
                        <img src="{{ url_for('static', filename='img/dcas_logo.png') }}" class="external-site-image">
                        <div class="external-site-text">
                            <p>NYC Department of Citywide Administrative Services website has information about civil service exams and requirements, training at the Citywide Training Center, and information about working with and for the City of New York.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
    </div>
</div>
{% endblock %}
