{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock title %}

{% block page_content %}
<div class="col-sm-12 no-left-padding index-top-padding">
    <div class="col-sm-9 no-left-padding">
        <br>
        <div class="carousel">
            <div id="thisCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#thisCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#thisCarousel" data-slide-to="1"></li>
                    <li data-target="#thisCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://i.ytimg.com/vi/6sr6o3b4x80/maxresdefault.jpg" alt="First Slide">
                        <div class="carousel-caption">
                            <h5 class="caption-title">Carousel Title Text 1</h5>
                            <a href="#" class="caption-text">Read More</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img/brooklyn_bridge.jpg') }}" alt="Second Slide">
                        <div class="carousel-caption">
                            <h5 class="caption-title">Carousel Title Text 2</h5>
                            <a href="#" class="caption-text">Read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://wallpapercave.com/wp/DyvuLTI.jpg" alt="Third Slide">
                        <div class="carousel-caption">
                            <h5 class="caption-title">Carousel Title Text 3</h5>
                            <a href="#" class="caption-text">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="scrolldown">
                <p class="whats-new-title">WHAT'S NEW</p>
            </div>
            <div class="scrollholder">
                <div style="background-color: white; padding: 30px 40px;">
                    <div class="scrollablediv">
                        {% for post in posts %}
                            {% if post.post_type == "meeting_notes" and post.deleted == False %}
                                <a href="{{ url_for('main.view_post', post_id = post.id) }}" class="scrolllink">
                                    <div class="entry">
                                        <div class="col-sm-2 entry-pic">
                                            <img src="{{ url_for('static', filename='img/meeting_notes_icon.png') }}">
                                            <br>
                                            <p class="meetings">MEETINGS</p>
                                        </div>
                                        <div class="col-sm-10 entry-info">
                                            <h4 class="entrytitle">{{ post.title }}</h4>
                                            <p class="datenlocation">{{ post.date_created.strftime('%B %d, %Y') }}</p>
                                            <p class="datenlocation">Posted in Meeting Notes</p>
                                            <div class="entrytext">{{ post.content | safe }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a class="view-more-button" type="button" href="{{ url_for('main.news_and_updates') }}">View More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 no-left-padding">
        <div class="col-sm-12 quick-links">
            <div class="quick-links-header">
                <p class="quick-links-title"><span class="glyphicon glyphicon-bookmark"></span> QUICK LINKS</p>
            </div>
            <div class="well quick-links-well">
                <ul class="quick-links-anchors">
                    <li class="quick-links-text">
                        <a href="http://cityshare.nycnet/portal/site/cityshare/?front_door=true" target="_blank">CityShare</a>
                    </li>
                    <li>
                        <a href="https://prod.citytime.nycnet/" target="_blank">CityTime</a>
                    </li>
                    <li>
                        <a href="http://timeclock.records.nycnet/" target="_blank">TimeClock</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.tools_and_applications') }}">Tools & Applications</a>
                    </li>
                    <li>
                        <a href=#>Documents</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 quick-links">
            <div class="quick-links-header">
                <p class="quick-links-title"> <i class="glyphicon glyphicon-calendar"></i> CALENDAR</p>
            </div>
            <div class="well quick-links-well">
                <div class="row">
                    <div class="col-sm-2 date-styles">Nov 01</div>
                    <div class="col-sm-10 event-styles"><a href="#">Municipal Library Book Group</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2 date-styles">Nov 06</div>
                    <div class="col-sm-10 event-styles"><a href="#">100 Years! Stay Tuned</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2 date-styles">Nov 10</div>
                    <div class="col-sm-10 event-styles"><a href="#">Senior Staff Meeting</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2 date-styles">Nov 23</div>
                    <div class="col-sm-10 event-styles"><a href="#">Thanksgiving Parade</a></div>
                </div>
                <div class="row">
                    <a class="calendar-view-style" href="#">View More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 quick-links">
            <div class="quick-links-header">
                <p class="quick-links-title"><i class="glyphicon glyphicon-briefcase"></i> DIVISIONS</p>
            </div>
            <div class="well quick-links-well">
                <ul class="quick-links-anchors">
                    <li>
                        <a href=#>Administration</a>
                    </li>
                    <li>
                        <a href=#>Executive</a>
                    </li>
                    <li>
                        <a href=#>External Affairs</a>
                    </li>
                    <li>
                        <a href=#>Grant Unit</a>
                    </li>
                    <li>
                        <a href=#>Management & Information Services</a>
                    </li>
                    <li>
                        <a href=#>Municipal Archives</a>
                    </li>
                    <li>
                        <a href=#>Municipal Library</a>
                    </li>
                    <li>
                        <a href=#>Municipal Records</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}