<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            DORIS Intranet Use Policy
            <a class="intranet-use-policy-close-button" data-toggle="collapse" href="#intranet-use-policy">Close</a>
        </h4>
    </div>
    <div id="intranet-use-policy" class="panel-collapse collapse in">
        <div class="panel-body">
            DORIS community standards for its employee intranet create a balance between encouraging communication and
            ensuring a welcoming and safe platform.
            <br><br>
            Key principles:<br><br>
            <ul>
                <li><strong>Respectful behavior. </strong>Sexually explicit, hateful, and violent content is prohibited.
                    Posts with such content will be removed.
                </li>
                <br>
                <li><strong>Support for cultural diversity. </strong>Demeaning or threatening posts on the basis of
                    race, ethnicity, national origin, sexual orientation, gender, gender identity, religious
                    affiliation, age, disability, or disease will be removed.
                </li>
                <br>
                <li><strong>Zero tolerance. </strong>Posts that advocate behavior that endangers people, whether
                    real-world violence or bullying will be removed.
                </li>
                <br>
                <li><strong>Follow the law. </strong>Posts that further unlawful purposes or illegal activities will be
                    removed.
                </li>
                <br>
                <li><strong>Not for commercial purposes or gambling. </strong>Post DORIS-related content only. The
                    Intranet should not be used for any commercial purpose. Employees may not post ads for products,
                    services, charities or outside meetings. No chain letters. No gambling, lottery pools, March Madness
                    or other basketball/football or other sports pools.
                </li>
                <br>
                <li><strong>Keeping you safe. </strong>No anonymous posting. By using the Intranet, employees consent to
                    review of their use of the intranet and acknowledges there is no expectation of privacy with respect
                    to employee use of the intranet.
                </li>
                <br>
                <li><strong>Take action. </strong>Report inaccurate or inappropriate posts to human resources or an EEO
                    officer.
                </li>
                <br>
                <li><strong>Employees who violate this Intranet policy will lose the ability to post on the intranet and
                    may face disciplinary action.</strong></li>
            </ul>
        </div>
    </div>
</div>