{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{% endblock %}

{% block page_content %}

    <div class="container image">
        <div class="col-sm-6 ">
            <img src="../static/img/Surrogate%20Court%20new.png" class="doris">
            <div class="imagetext">
                <p class="doristext">DORIS</p>
                <p class="intranet">intranet</p>
            </div>
        </div>
        <div class="col-sm-6 loginside">
            <form action="" method="post">
                <p>
                <div class="label-login-style">Login</div>
                <div class="login-input-style">{{ form.email(size=64) }}</div>
                <br>
                </p>
                <p>
                <div class="label-login-style"> Password</div>
                <div class="login-input-style">   {{ form.password(size=32) }}<br></div>
                </p>

                <p>

                    <br>
                <div class="label-login-style"> {{ form.remember_me() }} Remember Me</div>
                <br>
                </p>
                <p>
                <div id="login-submit-style">{{ form.submit }}</div>
                </p>
            </form>
            <p id="registration-link-style">Don't have an account yet?<br>
                <a href="#">Create an account?</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}