{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{% endblock %}

{% block page_content %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}"/>
    <div class="container">
        <div class="col-sm-6 test">
            <img src="../static/img/Surrogate%20Court%20new.png" class="doris">
            <div class="imagetext">
                <p class="doristext">DORIS</p>
                <p class="intranet">intranet</p>
            </div>
        </div>
        <div class="col-sm-6">
            <form action="" class="login-form-styles" method="post">
                <p>
                <div class="label-login-style">Login</div>
                <div class="login-input-style ">{{ login_form.email(size=64, placeholder="Enter your email address") }}</div>
                <br>
                </p>
                <p>
                <div class="label-login-style"> Password</div>
                <div class="login-input-style">   {{ login_form.password(size=32, placeholder="Enter your password") }}<br></div>
                </p>

                <p>

                    <br>
                <div class="label-login-style"> {{ login_form.remember_me() }} Remember Me</div>
                <br>
                </p>
                <p>
                <div id="login-submit-style">{{ login_form.submit }}</div>
                </p>
            </form>
            <p id="registration-link-style">Don't have an account yet?<br>
                <a href="#">Create an account?</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}