{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('main.news_and_updates') }}">News
                    & Updates</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">New Post</h1>
    </div>
    <div class="col-sm-12 well content-area">
        <form class="new-post-form" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                    {{ form.title.label (class="post-form-label") }}
                    {{ form.title (class="form-control post-form-field post-form-input", id="title") }}
            </div>

            <div class="form-group">
                    {{ form.meeting_type.label (class="post-form-label") }}
                    {{ form.meeting_type (class="form-control post-form-field post-form-select", id="title") }}
            </div>

            <div class="form-group">
                    {{ form.division.label (class="post-form-label") }}
                    {{ form.division (class="form-control post-form-field post-form-select", id="title") }}
            </div>

            <div class="form-group">
                    {{ form.meeting_date.label (class="post-form-label") }}
                    {{ form.meeting_date (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.meeting_location.label (class="post-form-label") }}
                    {{ form.meeting_location (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.meeting_note_taker.label (class="post-form-label") }}<br>
                    {{ form.meeting_note_taker (class="form-control post-form-field post-form-input", id="datepicker", data_role="tagsinput") }}
            </div>

            <div class="form-group">
                    {{ form.start_time.label (class="post-form-label") }}
                    {{ form.start_time (class="form-control post-form-field post-form-input timepicker", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.end_time.label (class="post-form-label") }}
                    {{ form.end_time (class="form-control post-form-field post-form-input timepicker", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.attendees.label (class="post-form-label") }}<br>
                    {{ form.attendees (class="form-control post-form-field post-form-input", id="", data_role="tagsinput") }}
            </div>

            <div class="form-group">
                    {{ form.content.label (class="post-form-label") }}<br>
                    {{ form.content (class="form-control post-form-field post-form-textarea", id="", rows="2") }}
            </div>

            <div class="form-group">
                    {{ form.tags.label (class="post-form-label") }}
                    {{ form.tags (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.next_meeting_date.label (class="post-form-label") }}
                    {{ form.next_meeting_date (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.next_meeting_leader.label (class="post-form-label") }}
                    {{ form.next_meeting_leader (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="form-group">
                    {{ form.next_meeting_note_taker.label (class="post-form-label") }}
                    {{ form.next_meeting_note_taker (class="form-control post-form-field post-form-input", id="datepicker") }}
            </div>

            <div class="center-submit-button">
                    {{ form.submit (class="btn btn-secondary post-form-submit", id="submit", type="submit") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}