{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Meeting Notes{% endblock title %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/new-post.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-multiselect.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('main.news_and_updates') }}">News
                    & Updates</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Meeting Notes</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">New Meeting Notes</h1>
    </div>
    <div class="col-sm-12 well content-area">
        <form class="new-post-form" method="post" data-parsley-validate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.title.label (class="post-form-label") }}
                {{ form.title (class="form-control post-form-field post-form-input", id="title", maxlength="100") }}
            </div>

            <div class="form-group">
                {{ form.meeting_type.label (class="post-form-label") }}
                {{ form.meeting_type (class="form-control post-form-field post-form-select", id="meeting-type") }}
            </div>

            <div class="form-group">
                {{ form.division.label (class="post-form-label") }}
                {{ form.division (class="form-control post-form-field post-form-select", id="division") }}
            </div>

            <div class="form-group">
                {{ form.meeting_date.label (class="post-form-label") }}
                {{ form.meeting_date (class="form-control post-form-field post-form-input datepicker", id="meeting-date") }}
            </div>

            <div class="form-group">
                {{ form.meeting_location.label (class="post-form-label") }}
                {{ form.meeting_location (class="form-control post-form-field post-form-input", id="meeting-location", maxlength="50") }}
            </div>

            <div class="form-group">
                {{ form.meeting_leader.label (class="post-form-label") }}<br>
                {{ form.meeting_leader (class="form-control post-form-field post-form-input", id="meeting-leader") }}
            </div>

            <div class="form-group">
                {{ form.meeting_note_taker.label (class="post-form-label") }}<br>
                {{ form.meeting_note_taker (class="form-control post-form-field post-form-input", id="meeting-note-taker") }}
            </div>

            <div class="form-group">
                {{ form.start_time.label (class="post-form-label") }}
                {{ form.start_time (class="form-control post-form-field post-form-input timepicker", id="start-time") }}
            </div>

            <div class="form-group">
                {{ form.end_time.label (class="post-form-label") }}
                {{ form.end_time (class="form-control post-form-field post-form-input timepicker", id="end-time") }}
            </div>

            <div class="form-group">
                {{ form.attendees.label (class="post-form-label") }}<br>
                <select name="attendees" id="attendees" multiple="multiple">
                    {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                {{ form.content.label (class="post-form-label") }}<br>
                {{ form.content (class="form-control post-form-field post-form-textarea", id="content", rows="10") }}
            </div>

            <div class="form-group">
                {{ form.tags.label (class="post-form-label") }}<br>
                <p>Select tags that best describe this post</p>
                <select name="tags" id="tags" multiple="multiple">
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                    {{ form.next_meeting_date.label (class="post-form-label") }}
                    {{ form.next_meeting_date (class="form-control post-form-field post-form-input datepicker", id="next-meeting-date") }}
            </div>

            <div class="form-group">
                    {{ form.next_meeting_leader.label (class="post-form-label") }}
                    {{ form.next_meeting_leader (class="form-control post-form-field post-form-input", id="next-meeting-leader") }}
            </div>

            <div class="form-group">
                    {{ form.next_meeting_note_taker.label (class="post-form-label") }}
                    {{ form.next_meeting_note_taker (class="form-control post-form-field post-form-input", id="next-meeting-note-taker") }}
            </div>

            <div class="center-submit-button">
                    {{ form.submit (class="btn btn-secondary post-form-submit", id="submit", type="submit") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_post.js') }}"></script>
{% endblock %}