{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="col-sm-12">
        <div class="breadcrumb-section">
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-ol">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">News & Updates</li>
                </ol>
            </nav>
            <h1 class="breadcrumb-header">News & Updates</h1>
        </div>
        <div class="col-sm-12 well content-area">
            <div class="col-sm-12 top-padding">
                <div class="col-sm-6 all-posts-link">
                    <a href="#">All Posts</a>
                    <a href="{{ url_for('main.new_post') }}">New Post</a>
                </div>
                <div class="col-sm-6">
                    <p class="sort-by-label">Sort by:</p>
                    <select class="sort-by-dropdown">
                        <option value="Date">Date</option>
                        <option value="Author">Author A-Z</option>
                        <option value="Author">Author Z-A</option>
                        <option value="Type">Type</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 filter-section">
                <p class="filter-by">Filter by:</p>
                <div class="panel-group">
                    <div class="panel filter-border">
                        <div class="panel-heading filter-heading"><span
                                class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;&nbsp;POSTING
                            TYPE
                        </div>
                        <hr class="panel-divider"/>
                        <div class="panel-body filter-choices">
                            <form class="filter-form">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Events
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Meetings
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        News
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel filter-border">
                        <div class="panel-heading filter-heading"><span
                                class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;&nbsp;MEETING
                            TYPE
                        </div>
                        <hr class="panel-divider"/>
                        <div class="panel-body filter-choices">
                            <form class="filter-form">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Administration
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        IT Status
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Municipal Library
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Senior Staff
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Strategic Planning
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel filter-border">
                        <div class="panel-heading filter-heading"><span
                                class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;&nbsp;TAGS
                        </div>
                        <hr class="panel-divider"/>
                        <div class="panel-body filter-choices">
                            <form class="filter-form">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Events
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        Meetings
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="filter-option-label">
                                        News
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 post-section">
                <div class="col-sm-12 first-post-row">
                    {% for meeting_notes in meeting_notes.items %}
                        <div class="col-sm-3 post-icon">
                            <img class="meeting-notes-icon"
                                 src={{ url_for('static', filename='img/meeting-note-icon.png') }}>
                            <p class="meetings-under-meeting-notes-icon">MEETINGS</p>
                        </div>
                        <div class="col-sm-9 post-description">
                            <p class="post-title">{{ meeting_notes.title }}</p>
                            <p class="post-date-author">{{ '{:%B %d, %Y}'.format(meeting_notes.meeting_date) }}
                                by {{ meeting_notes.author }}
                                <br>Posted in <a href="#">Meeting Notes</a>
                            </p>
                            <p class="post-preview com-text">{{ meeting_notes.content|truncate(200, False, '...', 0) }}</p>
                            <p class="read-more">Read more<span class="glyphicon glyphicon-menu-right"></span></p>
                        </div>
                        <div class="col-sm-12 post-divider"></div>
                    {% endfor %}
                    <div class="text-center">
{#                        {% macro render_pagination(meeting_notes) %}#}
                            <ul class="pagination">
                                <li>
                                    <a href="{{ url_for('main.news_and_updates', page=page_num) }}">&laquo;</a>
                                </li>
                                {% for page_num in meeting_notes.iter_pages(left_edge=4, right_edge=4, left_current=4, right_current=4) %}
                                    {% if page_num %}
                                        <li>
                                            <a href="{{ url_for('main.news_and_updates', page=page_num ) }}">{{ page_num }}</a>
                                        </li>
                                    {% else %}
                                        <span class=ellipsis>…</span>
                                    {% endif %}
                                {% endfor %}
{#                                {% if meeting_notes.has_next %}#}
                                    <li>
                                        <a href="{{ url_for('main.news_and_updates', page=meeting_notes.page_num) }}">&raquo;</a>
                                    </li>
{#                                {% endif %}#}
                            </ul>
{#                        {% endmacro %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}