{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}News{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/news-updates.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('main.news_and_updates') }}">News & Updates</a></li>
                <li class="breadcrumb-item active" aria-current="page">News</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">News</h1>
    </div>
    <div class="col-sm-12 well content-area">
        <div class="col-sm-12 top-padding">
            <div class="col-sm-6 new-post-button">
                <a class="btn btn-primary" href="{{ url_for('main.new_news') }}">Create New News</a>
            </div>
            <div class="col-sm-6">
                <p class="sort-by-label">Sort by:</p>
                <select id="sort-dropdown" class="sort-dropdown">
                    <option value="date_newest">Date (Newest)</option>
                    <option value="date_oldest">Date (Oldest)</option>
                    <option value="author_a_z">Author (A-Z)</option>
                    <option value="author_z_a">Author (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3 filter-section">
            <p class="filter-by">Filter by:</p>
            <div class="panel-group">
                <div class="panel filter-border">
                    <div class="panel-heading filter-heading">&nbsp;&nbsp;TAGS
                    </div>
                    <hr class="panel-divider"/>
                    <div class="panel-body filter-choices tag-choices">
                        <form class="filter-form">
                            {% for tag in tags %}
                                <div class="form-check">
                                    <input class="form-check-input tag-checkbox" name="test[]" type="checkbox" value="{{ tag[0] }}">
                                    <label class="filter-option-label">
                                        {{ tag[0] }}<span class="tag-count">{% if tag[1] > 0 %}&nbsp;({{tag[1]}}){% endif %}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="posts-section" class="col-sm-9 posts-section">
        </div>
        <div id="posts-pagination" class="pagination-row col-sm-12">
            <div class="col-sm-3">
                <button type="button" id="posts-prev" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Prev
                </button>
            </div>
            <div class="col-sm-6 text-center" id="posts-page-info"></div>
            <div class="col-sm-3 text-right">
                <button type="button" id="posts-next" class="btn btn-default">
                    Next
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/news_updates.js') }}"></script>
{% endblock %}