{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Our Mission{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/our_mission.css') }}"/>
{% endblock %}

{% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Our Mission</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Our Mission</h1>
    </div>
    <div class="col-sm-12 well content-area our-mission-section">
        <div class="row">
            <div class="col-sm-6">
                <img class="our-mission-image" src="{{ url_for('static', filename='img/our_mission.jpg') }}">
            </div>
            <div class="col-sm-6">
                <br>
                <div>
                    <p class="our-mission-text">Established in 1977, the Department of Records and Information Services
                        (DORIS) preserves and provides public access to historical and
                        contemporary records and information about New York City government. We operate the Municipal
                        Archives, the Municipal Library, and the Records Center.
                        <br>
                        <br>
                        The mission of the NYC Department of Records and Information Services is to foster civic life by
                        preserving and providing access to the historical
                        and contemporary records of New York City government, to ensure that City records are properly
                        maintained following professional archival
                        and record management practices and to make materials available to diverse communities both
                        online and in person.
                        <br>
                        <br>
                        Currently, the agency has eight divisions:</p>
                    <ul class="division-list">
                        <a href="">
                            <li>
                                Administration
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Executive
                            </li>
                        </a>
                        <a href="">
                            <li>
                                External Affairs
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Grant Unit
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Management and Information Services
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Municipal Archives
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Municipal Library
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Municipal Archives
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



