{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="col-sm-12">
    <div class="breadcrumb-section">
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-ol">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">News and Updates</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
        </nav>
        <h1 class="breadcrumb-header">Employee Resources</h1>
    </div>
    <div class="well content-area container">
        <div class="row">
            <div class="employee-text col-sm-4">
                <a href="#" class="cardclick">
                   <div class="it-support-opition-boxes">
                        <p class="employeeresources">Staff Directory</p>
                        <img src="https://i.imgur.com/TLGRy1R.png">
                    </div>
                </a>
                <br>
                <p class="resourceinfo">Look up contact information for Department of Records staff members.</p>
            </div>
            <div class="employee-text col-sm-4">
                <a href="#" class="cardclick">
                    <div class="it-support-opition-boxes">
                        <p class="employeeresources">Employee Benefits</p>
                        <img src="https://i.imgur.com/GIG3ww7.png">
                    </div>
                </a>
                <br>
                <p class="resourceinfo">Find information on employee benefits for DORIS and NYC.gov employees.</p>
            </div>
            <div class="employee-text col-sm-4">
                <a href="#" class="cardclick">
                    <div class="it-support-opition-boxes">
                        <p class="employeeresources">Documents</p>
                        <img src="https://i.imgur.com/IlY12D6.png">
                    </div>
                </a>
                <br>
                <p class="resourceinfo">Looking for templates, instructions or information on Policies and Procedures? Download files here.</p>
            </div>
        </div>
        <hr>
        <h3>External Sites</h3>
        <div class="row">
            <br>
            <div class="sitecard col-sm-4">
                <a href="http://cityshare.nycnet/portal/site/cityshare/?front_door=true" class="cardclick">
                    <div class="card-content col-sm-12">
                        <img src="https://i.imgur.com/TttNPSZ.png" class="siteimage">
                        <br>
                        <br>
                        <div class="sitetext">
                            <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sitecard col-sm-4">
                <a href="https://prod.citytime.nycnet/" class="cardclick">
                    <div class="card-content col-sm-12">
                        <img src="https://i.imgur.com/OLA3Qdp.pngs" class="siteimage">
                        <br>
                        <br>
                        <div class="sitetext">
                            <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sitecard col-sm-4">
                <a href="http://timeclock.records.nycnet/auth/login" class="cardclick">
                    <div class="card-content col-sm-12">
                        <img src="https://i.imgur.com/nl8TK3I.png" class="siteimage">
                        <br>
                        <br>
                        <div class="sitetext">
                            <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <br>
                <div class="sitecard col-sm-4">
                    <a href="https://a127-ess.nyc.gov/psp/prdess/?cmd=login" class="cardclick">
                        <div class="card-content col-sm-12">
                            <img src="https://a127-ess.nyc.gov/prdess/images/OPSE_logo.gif" class="siteimage">
                            <br>
                            <br>
                            <div class="sitetext">
                                <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sitecard col-sm-4">
                    <a href="https://www.nycers.org/" class="cardclick">
                        <div class="card-content col-sm-12">
                            <img src="https://www.nycers.org/sites/default/themes/dtheme/img/logo-theme.svg" class="siteimage">
                            <br>
                            <br>
                            <div class="sitetext">
                                <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sitecard col-sm-4">
                    <a href="https://www1.nyc.gov/site/opa/index.page" class="cardclick">
                        <div class="card-content col-sm-12">
                            <img src="https://www1.nyc.gov/assets/opa/images/content/header/logo.png" class="siteimage">
                            <br>
                            <br>
                            <div class="sitetext">
                                <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="row">
            <br>
               <div class="sitecard col-sm-4">
                   <a href="https://www1.nyc.gov/site/olr/index.page" class="cardclick">
                        <div class="card-content col-sm-12">
                            <img src="https://www1.nyc.gov/assets/olr/images/content/header/logo.png" class="siteimage">
                            <br>
                            <br>
                            <div class="sitetext">
                                <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                            </div>
                        </div>
                   </a>
                </div>
               <div class="sitecard col-sm-4">
                   <a href="http://www.nyc.gov/html/dcas/html/home/home.shtml" class="cardclick">
                        <div class="card-content col-sm-12">
                            <img src="http://www.nyc.gov/html/dcas/includes/site_images/branding/logo.png" class="siteimage">
                            <br>
                            <br>
                            <div class="sitetext">
                                <p>TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXtTEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt TEXt </p>
                            </div>
                        </div>
                   </a>
               </div>
        </div>
    </div>
</div>
{% endblock %}