{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Staff Directory{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/staff-directory.css') }}"/>
{% endblock %}

{% block page_content %}
    <!-- Add your Custom image class below (after 'banner-with-background') -->
    <div class="bg-primary banner-with-background oculus d-flex flex-column">

        <div class="container-fluid my-auto text-center">
            <div class="narrow">
                <h1 class="display-4 text-white">Staff Directory</h1>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .banner-with-background -->

    <br>

    <div>
        <div class="breadcrumb-section" style="margin-left: -26px;">
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-ol">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('main.employee_resources') }}">Employee
                        Resource</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Staff Directory</li>
                </ol>
            </nav>
        </div>
    </div>

    <br>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="staff_directory_header">
            <th scope="col"></th>
            <th scope="col" class="first-column">First</th>
            <th scope="col" class="last-column">Last</th>
            <th scope="col" class="division-column">Division</th>
            <th scope="col" class="title-column">Title</th>
            <th scope="col" class="phone-column">Phone</th>
            <th scope="col" class="email-column">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                <img 
                    src="{{ url_for('static', filename='img/employee_photos/' + user.email + '.jpg') }}" 
                    class="img-fluid" 
                    style="width: 50px; height: 50px;" 
                    alt="avatar" 
                    onerror="this.src='/static/img/avatar.png'">
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.division }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.phone_number or 'N/A' }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}