{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tools and Applications{% endblock %}

{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/tools-and-applications.css') }}"/>
{% endblock %}

{% block page_content %}
<!--Tools and Applications-->
<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center matrix-gutter">
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 bg-white">
                    <img class="card-img-top" src="https://via.placeholder.com/400x250" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title h5">LABEL GENERATOR (EPAYMENTS)</h2>
                        <p class="card-text">
                            Online order tracking for Reference Room and Photo Unit staff.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="text-secondary" href="#"><strong>Button Link</strong></a>
                    </div>
                </div>
            </div>
            <!-- .col -->

            <div class="col-md-6 col-lg-3">
                <div class="card h-100 bg-white">
                    <img class="card-img-top" src="https://via.placeholder.com/400x250" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title h5">LETTER GENERATOR</h2>
                        <p class="card-text">
                            Letter generator for Reference Room staff. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="text-secondary" href="#"><strong>Button Link</strong></a>
                    </div>
                </div>
            </div>
            <!-- .col -->

            <div class="col-md-6 col-lg-3">
                <div class="card h-100 bg-white">
                    <img class="card-img-top" src="https://via.placeholder.com/400x250" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title h5">PROCUREMENT</h2>
                        <p class="card-text">
                            Create and track procurement requests for DORIS. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="text-secondary" href="#"><strong>Button Link</strong></a>
                    </div>
                </div>
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>

{% endblock %}